.card{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 2px rgba(93, 195, 178, 0.15);
    padding: 40px;
    overflow: hidden;
}

.card h2{
    color: #283860;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 27px;
}

.card p{
    color: #1F2F59;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 24px;
}

.tampilkan-btn a{
    text-decoration: none;
    background-color: #f15a29;
    color: white;
    border-radius: 100px;
    font-weight: 600;
    padding: 12px 24px;
    display: inline-block;
    align-items: center;   
    margin-bottom: 20px;
}