footer {
    background-color: #2a2a2a;
    padding: 40px 0 20px;
    width: 100%;
    color: white;
    margin-top: 120px
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
}

.logo-footer img {
    width: 150px;
}

.nav-footer ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-footer li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.nav-footer li a i {
    margin-left: 5px;
    font-size: 12px;
}

.line {
    width: 85%;
    margin: 25px auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.icon-sosmed {
    width: 85%;
    margin: auto;
}

.icon-footer {
    display: flex;
    gap: 22px;
    justify-content: flex-end;
    list-style: none;
}

.icon-footer li a {
    color: white;
    font-size: 18px;
}
