.layanan{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 80px auto;
    max-width: 1200px;
    justify-content: center;
}

.card-layanan{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px 2px rgba(93, 195, 178, 0.15);
    margin: 0;
    width: 80%;
}

.card-layanan img{
    width: 50%;
    height: auto;
    border-radius: 100px;
    display: block;
    margin: 40px auto;
}

.judul-layanan h3{
    text-align: center;
}