@import url("base.css");
@import url("header.css");
@import url("hero.css");
@import url("apbdesa.css");
@import url("subtext.css");
@import url("lihatsemua.css");
@import url("berita.css");
@import url("informasi.css");
@import url("potensi.css");
@import url("layanan.css");
@import url("lapor.css");
@import url("peta.css");
@import url("footer.css");
@import url("mediaquery.css");

