.nav-potensi{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlinks-potensi{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 40px 10px;
    gap: 16px;
}

.navlinks-potensi .active2{
    background-color: #5DC3B2;
    color: white;
    padding: 7px 20px;
    border-radius: 100px;
    font-weight: 500;
}

.navlinks-potensi .active3{
    background-color: rgba(93, 195, 178, 0.40);
    color: white;
    padding: 7px 20px;
    border-radius: 100px;
    font-weight: 500;
}

.navlinks-potensi li a{
    text-decoration: none;
    color: #5DC3B2;
    font-weight: 400;
    padding: 0 12px;
    display: inline;
}

.nav2-potensi{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlinks2-potensi{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 20px 10px;
    gap: 16px;
}

.navlinks2-potensi a{
    text-decoration: none;
    background-color: #f15a29;
    color: white;
    padding: 12px 20px;
    border-radius: 100px;
}

.container-potensi{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 10px auto;
    max-width: 1200px;
    justify-content: center;
}

.potensi-card{
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 4px 8px 2px rgba(93, 195, 178, 0.15);
    margin: 0;
    width: 82%;
}

.potensi-card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.jenispotensi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.kategori{
    background-color: #DFF3F0;
    color: #69C7B7;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 10px;
}

.harga{
    font-weight: 600;
    font-size: 15px;
    color: black;
}

.judulpotensi h3{
    font-size: 18px;
    color: black;
    line-height: 1.4;
    margin-bottom: 4px;
}

.text-potensi{
    font-size: 14px;
    color: black;
    line-height: 1.4;
    margin-bottom: 12px;
}